{% extends 'base.html.twig' %}

{% block title %}Создание статьи{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for error in app.session.flashbag.get('error') %}
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}

            {% for notice in app.session.flashbag.get('notice') %}
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        {{ notice }}
                    </div>
                </div>
            {% endfor %}

            <div class="col-12">
                <div class="border flex-md-row mb-4 shadow-sm bg-white p-4">
                    <form method="post" class="mb-5">
                        <div class="form-group">
                            <label for="title">
                                Заголовок статьи <span class="text-danger">*</span>
                            </label>
                            <input name="title" id="title" required
                                   type="text" class="form-control"
                                   value="{{ app.request.request.get('title') }}">
                        </div>

                        <div class="form-group">
                            <label for="slug">
                                Символьный код <span class="text-danger">*</span>
                            </label>
                            <input name="slug" id="slug" required
                                   type="text" class="form-control"
                                   value="{{ app.request.request.get('slug') }}">
                        </div>

                        <div class="form-group">
                            <label for="description">
                                Краткое описание статьи <span class="text-danger">*</span>
                            </label>
                            <input name="description" id="description" required
                                   type="text" class="form-control"
                                   value="{{ app.request.request.get('description') }}">
                        </div>

{#                        <div class="form-group">#}
{#                            <label for="body">#}
{#                                Содержание статьи <span class="text-danger">*</span>#}
{#                            </label>#}
{#                            <textarea name="body"#}
{#                                      id="body"#}
{#                                      required#}
{#                                      type="text"#}
{#                                      class="form-control">{{ app.request.request.get('body') }}</textarea>#}
{#                        </div>#}

                        <div class="form-group">
                            <label for="author">
                                Имя автора <span class="text-danger">*</span>
                            </label>
                            <input name="author" id="author" required
                                   type="text" class="form-control"
                                   value="{{ app.request.request.get('author') }}">
                        </div>

                        <div class="form-group">
                            <label for="keywords">
                                Ключевые слова
                            </label>
                            <input name="keywords" id="keywords"
                                   type="text" class="form-control"
                                   value="{{ app.request.request.get('keywords') }}">
                        </div>

                        <div class="form-group">
                            <label for="voteCount">
                                Количество голосов
                            </label>
                            <input name="voteCount" id="voteCount"
                                   type="number" class="form-control"
                                   value="{{ app.request.request.get('voteCount') }}">
                        </div>

                        <div class="form-group">
                            <label for="imageFilename">
                                Имя файла изображения
                            </label>
                            <input name="imageFilename" id="imageFilename"
                                   type="text" class="form-control"
                                   value="{{ app.request.request.get('imageFilename') }}">
                        </div>

                        <div class="form-group">
                            <label for="publishedAt">
                                Дата публикации статьи
                            </label>
                            <input name="publishedAt" id="publishedAt"
                                   type="date" class="form-control"
                                   value="{{ app.request.request.get('publishedAt') }}">
                        </div>

                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
